body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.home-content {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: #333;
  color: white;
  padding: 20px;
}

.fundraisers {
  width: 80%;
  padding: 20px;
}

.banner {
background-image: url('../src/Images/child.jpg');
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(172, 101, 101);
}

.fundraiser-cards {
  display: flex;
  gap: 15px;
}
